annotated-types==0.7.0
anyio==4.8.0
black==25.1.0
certifi==2025.1.31
click==8.1.8
coverage==7.6.12
fastapi==0.115.11
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
iniconfig==2.0.0
isort==6.0.1
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pydantic==2.10.6
pydantic_core==2.27.2
pytest==8.3.5
pytest-cov==6.0.0
pytest-doctestplus==1.4.0
setuptools==75.8.0
sniffio==1.3.1
starlette==0.46.1
typing_extensions==4.12.2
uvicorn==0.34.0
-e git+ssh://git@github.com/rishi-s8/web-of-agents.git@46c3c9bf6582bf6e2c28c9cbc64e942e91f7fb61#egg=webofagents
wheel==0.45.1
